<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sict.Properties.Settings.eduConnectionString" connectionString="Data Source=BATSUKH\SQLEXPRESS;Initial Catalog=edu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Sict.Properties.Settings.SictConnectionString" connectionString="Data Source=BATSUKH\SQLEXPRESS;Initial Catalog=Sict;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>